.manage-region-table-section{
    width: 80%;
    margin-left: 11%;
}

.delete-svg{
    height: 22px;
    fill: crimson;
}

.no-reports-section{
    font-style: italic;
    font-size:12.5px;
}

.form-close{
    display: flex;
    justify-content: end;
    color: red;
    font-size: 20px;
    cursor: pointer;
  }

tr:not(:first-child):hover{
    background-color: #fafafa;
    transition: all 0.3s ease;
    webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.query-data{
    text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
 text-align: left;
}

